html {
    height:100%;
      font-family: 'Helvetica neue', Arial, 'sans serif';
      font-size: 17px;
      align-items: center;
      font-weight: lighter;
      color: rgba(255, 255, 255, 0.801);

      
    }

body {
    text-align: center;
    padding-top: 10%;
    min-height:80%;
    font-family: Helvetica, sans-serif;
  /* Colourful waves */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 150% 150%;
    animation: gradient 20s ease-in-out infinite;
    height: 50%;
}  

.menu a {
  color: rgba(255, 255, 255, 0.801);
}

a:hover{
  color: rgba(255, 255, 255, 1);
}

.download {
  color: rgba(255, 255, 255, 0.442);
}

h3  {
  text-align: center;
  font-size: larger;

}
body p{
text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    } 
      50% {
        background-position: 100% 50%;
    } 
      100% {
        background-position: 0% 50%;
    }
  }
