body {
  background-color: #fff;
  color: #333;
  margin: 30px;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

  img {
      max-width: 100%;
      height:auto;
      display: block;
      border-radius: 5px;

  }

.logo {
  text-align: center;
  font-size: 200%;
  padding: 50px;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
  margin: 1em;
}

nav {
  background-color: #000;
  padding: .5em;
  min-width: 26em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration:underline;
  padding: .5em 1em;
}

.photos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}


ul {
  flex-direction:row;
  display:flex;
  align-items: center;
  justify-content: space-around;
  
}

nav {
  position: sticky;
  top: 1em;
  left: 0;
  margin: 1em 0;
  background-color: rgb(207, 232, 220)

}

.box {
  float: left;
  margin-right: 15px;
  width: 50%;
  height: 40%;
  border-radius: 5px;
  background-color: rgb(207, 232, 220);
  padding: 1em;
}

h1, h2 {
  text-align: center;
}

  /* For mobile phones: */
@media only screen and (max-width: 768px) {
 
  .logo {
    font-size: 200%;
    padding: 10px;
  }

  .grid {
    display:block;
    grid-gap: 1em;
    margin: 1em;
  }

  .box {
    float: left;
    height: 10em;
    width: 40%;
  }
}

/* large screen */
@media only screen and (min-width: 1500px) {
  
  br {
    display:none;
  }

  .logo {
    font-size: 300%;
    padding: 70px;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3em;
    margin: 3em;
  }

  .box {
    float: left;
    width: 55%;
    height: 44%;
    border-radius: 5px;
    padding: 2em;
  }

  nav ul {
    font-size:x-large;
  }

}