<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='somejavascriptfile.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/01_landing.css') }}">    <title>Just Landing</title>
</head>

<body>
    <h1>Welcome, what is your name ?</h1>
    <form method="WRITE">
        <input type="text" id="tt" placeholder="Enter Name : ">
        <input type="checkbox" checked>
      </form>
      <button onclick="my()">Submit now</button>
      <p id="demo"></p>
      </div>


</body>



</html>